.library{
    overflow: scroll;
    background-color:white;
    width:20rem;
    top:0;
    left:0;
    position: fixed;
    height:100%;
    box-shadow: 2px 2px 50px rgb(104, 99, 99);


    h2{
      padding:4rem;
    }
}

.library-song{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;

    img{
        width:40%;
    }


}