//"*"- This means this is the default style. It removes all the styles from all the elements.
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@import "./player";
@import "./song";